extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title

  .row
    .col-12.col-lg-8
      p
        | Travel and Tourism was created to help travelers discover amazing places to explore and relax.
        | <br /><br />
        | Whether you're seeking adventure or a peaceful getaway, let us guide you to the best destinations. 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
